.message {
  display: flex;
  flex-direction: column;
  :global {
    .meta {
      font-size: 0.7rem;
      text-align: right;
    }
    svg {
      height: 0.7rem;
      padding: 0 2px;
      color: green;
    }
  }
}
